*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    background-color: black;
    text-decoration: none;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 999;
}

.navbar-container {
    display: flex; 
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}
.navbar-logo {
    display: flex;
    height: 80px;
}

.navbar-logo-2{
    display: none;
    height: 80px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.icon {
    opacity: 100%;
    fill: none;
    padding-top: 10px;
    height: 40px;
}
.navbar-item:hover {
    fill: none;
    color: pink;
    opacity: 10%;
}

.navbar-item img {
    height: 49px;
    padding-top: 10px;
}

@media screen and (max-width: 480px){
    .navbar-logo {
        display: none;
    }
    .navbar-logo-2 {
        display: flex;
        height: 80px;
        position: absolute;
        top: 10px;
        left: 40%;
    }
    .navbar-menu {
        width: 100%;
        justify-content: center;
        transform: scale(0.8);
    }
    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        
    }
    
}
    
